# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.DS_Store

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Ignore IntelliJ Goland files
.idea/

# Ignore VS Code files
.vscode/

# Ignore distribution folder
dist/

# Ignore environemnt configuration files
.env

# GONOSUMDB=github.com/condur;GONOPROXY=github.com/condur/...;GOPRIVATE=github.com/condur